---
layout: home-page
permalink: /404.html
title: Sorry 
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}
<section class="content-card not-found-card">
  <p class="section-kicker">404</p>
  <h1>찾는 페이지가 없습니다.</h1>
  <p>주소가 바뀌었거나 삭제됐을 수 있습니다. 홈으로 돌아가거나 글 검색을 써보세요.</p>
  <p><a href="{{ relativebase }}">홈으로</a></p>
</section>
<form class="search-form inline">
  <div id="search-container">
    <input type="text" id="search-input" class="search" placeholder="글 검색">
  </div>
</form>
<ul id="results-container" class="results-search"></ul>
{% include recent-post.html %}
