# Windows 95 Theme for Jekyll
# Based on theme by h01000110 (hi)
# License: MIT License

# Site settings
permalink: /:year/:month/:day/:title/
url: "https://blog.juwonpark.me"
baseurl: /project

# Site variables
name: Juwon
description: test
google_verification: null

# File management
include: [".htaccess"]
exclude: ["README.md", "LICENSE"]

# Sass
sass:
  style: :compressed
  sass_dir: _sass

# Markdown
markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter_opts:
    disable: true

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sass-converter
