{% include calculate_relative_base.html %}
{% include escape-404.html %}

<section class="author-card">
  <a class="author-card-avatar" href="{{ relativebase }}about.html">
    <img src="{{ relativebase }}assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{ site.author }}">
  </a>
  <div class="author-card-body">
    <p class="author-card-kicker">작성자</p>
    <h2>{{ site.author }}</h2>
    <p>{{ site.about-author }}</p>
    {% include social-links.html compact=true icons_only=true %}
  </div>
</section>
