{% include calculate_relative_base.html %}
{% include escape-404.html %}

<footer class="site-footer">
  <div class="shell shell-wide">
    {% unless page.layout == "post" %}
      <div class="site-divider"></div>
    {% endunless %}
    <div class="site-footer-inner">
      {% include social-links.html compact=true icons_only=true %}
      <div class="site-footer-links">
        <a href="{{ relativebase }}archive.html">Posts</a>
        <a href="{{ relativebase }}tags.html">Tags</a>
        <a href="{{ relativebase }}feed.xml">RSS</a>
      </div>
      <p class="site-footer-note">{{ site.time | date: '%Y' }} &copy; {{ site.author }}</p>
    </div>
  </div>
</footer>
